# Raw fasta files from BOLD
Linux/01_Consensus/results/*/01_BOLD/*.fasta

# Intermediary files
Linux/*/results/*/02*
Linux/*/results/*/03*
Linux/*/results/*/04*
Linux/*/results/*/05*

# R
.Rproj.user
