# Raw fasta files from BOLD
Linux/01_Consensus/results/*/01_BOLD/*.fasta
Linux/04_Additional_Species_Distances/results/Extra/01_BOLD/*.fasta

# Intermediary files
Linux/*/results/*/02*
Linux/*/results/*/03*
Linux/*/results/*/04*
Linux/*/results/*/05*
Linux/*/results/*/06*
Linux/05_Barriers_vs_Distance/data/

# R
.Rproj.user
