# Raw fasta files from BOLD
Linux/01_Consensus/results/*/01_BOLD/*.fasta
Linux/04_Additional_Species_Distances/results/Extra/01_BOLD/*.fasta

# Intermediary files
Linux/*/results/*/02*
Linux/*/results/*/03*
Linux/*/results/*/04*
Linux/*/results/*/05*
Linux/*/results/*/06*

# Barriers intermediary files
Linux/05_Barriers_vs_Distance/data/*/01_BOLD/*.fasta
Linux/05_Barriers_vs_Distance/data/*/02*
Linux/05_Barriers_vs_Distance/data/*/03*
Linux/05_Barriers_vs_Distance/data/*/04*
Linux/05_Barriers_vs_Distance/data/*/05*
Linux/05_Barriers_vs_Distance/data/*/06*

# Old Scripts
Old_Scripts/

# R
.Rproj.user

# Otros
Otros/
